@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-container{
    height: 100%;
    padding: 20px;
}

li{
    list-style-type: none;
}

.section-title{
    font-weight: bold;
}

.create-user-section{
    margin: 50px 10px;
    max-width: 650px;
}

.edit-user-section{
    height: 100%;
}

form.create-form, div.edit-form{
    background-color: #e6e6e6;
    border-radius: 15px;
}

form.create-form{
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.edit{
    margin-top: 100px;
    margin-bottom: 15px;
}

div.edit-form{
    padding: 30px;
    margin: auto;
    max-width: 850px;
    height: fit-content;
}

.submit-btn{
    min-width: 200px;
    margin-top: 15px;
    float: right;
}

#save-btn{
    min-width: 200px;
    margin-top: 40px;
}

.users-table{
    margin: 10px 100px;
}

.footer{
    text-align: center;
    padding: 0.5rem;
}

@media (max-width: 992px){
    .users-table{
        margin: 10px 25px;
        overflow-x: auto;
    }

    .edit{
        margin-top: 70px;
    }
}

@media (max-width: 576px){
    .users-table{
        margin: 10px 5px;
    }

    th, td{
        font-size: 0.8rem;
    }

    .submit-btn{
        min-width: 100px;
    }

    .edit{
        margin-top: 50px;
    }
}