li{
    list-style-type: none;
}

table, td, th{
    border: 1px solid;
    border-collapse: collapse;
}

td{
    padding: 0.3rem;
}

form.create-form{
    display: flex;
    flex-direction: column;
}

.submit-btn{
    width: fit-content;
}